* {
    font-family: 'Public Sans', sans-serif;
}

a {
    text-decoration: none;
}

.card {
    border: 0;
    background-color: transparent;
}

.card-body {
    padding: 0;
}

header {
    z-index: 5;
    position: relative;
}

header nav .navbar-nav .nav-link {
    margin: 1rem;
    font-weight: 600;
}

header nav .navbar-nav .nav-link:hover {
    color: hsl(192, 70%, 51%);
    border-bottom: 2px solid hsl(136, 65%, 51%);
}

header nav .navbar-collapse button {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: #ffffff;
    border-radius: 20px;
}

@media screen and (max-width: 64rem) {
    header .navbar {
        padding: 1.2rem 1rem;
    }

    header nav .navbar-brand img {
        height: 30px;
    }

    .navbar-collapse {
        position: absolute;
        top: 150%;
        left: 10%;
        background-color: aqua;
        width: 80%;
        border-radius: 5px;
    }

    .navbar-collapse .navbar-nav .nav-link {
        margin: 0.3rem;
        text-align: center;
    }

    .navbar-collapse button {
        display: none;
    }
}

#one {
    position: relative;
    background: no-repeat url("images/bg-intro-desktop.svg") 850px -130px;
    background-size: 65%;
}

#one .intro-text {
    padding: 160px 0;
}

#one .intro-text h1 {
    font-size: 4.5rem;
}

#one .intro-text p {
    font-size: 1.3rem;
    color: hsl(233, 8%, 62%);
}

#one img {
    position: absolute;
    top: 5%;
    left: 25%;
}

@media screen and (max-width: 64rem) {
    #one .intro-text {
        text-align: center;
        padding: 100px 5px;
    }

    #one .intro-text h1 {
        font-size: 2.5rem;
    }

    #one .intro-text p {
        font-size: 1rem;
    }

    #one img {
        position: relative;
        top: 0;
        left: 0;
    }
}

#second {
    background-color: hsl(220, 16%, 96%);
}

#second h3 {
    font-size: 3.5rem;
}

#second p {
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
}

#second .card {
    padding: 3rem 0;
}

#second .card img {
    width: 60px;
    height: 60px;
}

#second .card .card-body .card-title {
    padding: 1.5rem 0;
}

@media screen and (max-width: 64rem) {
    #second {
        text-align: center;
    }

    #second .card {
        padding: 1.5rem 0;
    }

    #second .card img {
        margin: auto;
    }
}

#third {
    background-color: hsl(0, 0%, 98%);
}

#third h3 {
    font-size: 3.5rem;
}

#third p {
    color: hsl(233, 8%, 62%);
    font-size: 0.8rem;
}

#third .card {
    background-color: #ffffff;
    margin: 3rem 0;
}

#third .card .card-body {
    padding: 1.3rem;
}

#third .card .card-body .card-title {
    padding: 0.5rem 0;
    color: hsl(233, 8%, 62%);
    font-size: 0.7rem;
}

@media screen and (max-width: 64rem){
    #third h3{
        text-align: center;
        font-size: 2rem;
    }
    #third .card{
        margin: 1rem;
    }
}

footer{
    background-color: hsl(233, 26%, 24%);
    padding: 1.7rem 0;
}

footer .brand-logo{
    padding: 1rem 0;
    text-align: center;
}

footer .social-media{
    padding: 1rem 0;
    text-align: center;
}

footer .social-media a{
    margin-left: 0.5rem;
}

footer .nav1{

    padding: 1rem 0 1rem 2.5rem;
}

footer .nav1 p a{
    color: #ffffff;
    text-decoration: none;
}

footer .copyrights{
    margin: auto 0;
    color: #ffffff;
}

@media screen and (max-width: 64rem) {
    footer .nav1{
        text-align: center;
        padding: 1rem;
    }
    footer .copyrights{
        text-align: center;
    }
}